<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://zhuoyuehd.oss-cn-shenzhen.aliyuncs.com/apk/ylg1120-resigned.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>url</key>
<string>http://10.1.222.60:8080/putao/image.57x57.png</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>url</key>
<string>http://10.1.222.60:8080/putao/image.512x512.png</string>
</dict>
